
HyperTemplateUTProj/Library/*
HyperTemplateUTProj/Temp/*
HyperTemplateUTProj/obj/*
HyperTemplateUTProj/.vs/*
HyperTemplateUTProj/Logs/*
HyperTemplateUTProj/*.vsconfig
HyperTemplateUTProj/*.sln
HyperTemplateUTProj/*.csproj
HyperTemplateUTProj/UserSettings/EditorUserSettings.asset
